*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*** Background ***/
body {
	background: url('../images/bg2.jpg');
}

/*** Slider ***/
#carouselExampleControls {
	padding-top: 50px;
}

/*** main ***/
main > .intro {
	margin-top: 5px;
	padding: 10px 5%;
	
	background: rgb(226, 226, 226);
}

/*** paragraph Intro ***/
.pintro {
	padding-left: 15px;
}

.marginintro {
	margin: 50px, 50px, 50px, 50px;
	background-color: aquamarine;
}

/*** MilsimGalery ***/
.milimg{
	width: 90%;
	height: 90%;
	margin-left: 10%;
	margin-bottom: 5px;
	top: -35px;
}

.containergalery{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 3px;
	padding-top: 10px;
	padding-bottom: -100px;
	background-color: rgba(169, 169, 169, 0.308);
	border: solid 0px;
	border-radius: 5px;
}

/*** Box Shadow ***/
.boxshadow{
	box-shadow: 10px -10px 5px rgba(102, 93, 81, 0.349);
	border: solid 0px;
	background-color: rgba(161, 153, 143, 0.315);
	border-radius:7px;
	
}

  
/*** Jumbotron ***/
.jumbomargin {
	padding-bottom: 22%;
	background-image: url("../images/marsoc2.jpg");
	background-size: 100%;
	width: 100%;
	color: white;
}

/*** Jumbotron Text ***/

.hjumbo{
	padding-top: 200px;
	padding-left: 250px;
	font:normal 45px Arial, Helvetica, sans-serif;
	font-style:normal;
	color:#ffffff;
	text-shadow:1px 3px 10px rgba(0, 0, 0, 0.836);
}
.pjumbo{
	padding-left: 300px;
	font-family: "Lucida Sans Unicode";
	font-size: 20px;
	letter-spacing: -1.2px;
	word-spacing: 0.6px;
	color: #FFFFFF;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

/*** Galery Intro ***/
/* The grid: Four equal columns that floats next to each other */
.column {
	float: right;
	width: 150px;
	padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
	opacity: 0.8; 
	cursor: pointer; 
	height: 80%;
	width: 80%;
  }
  
  .column img:hover {
	opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .containerg p {
	position: relative;
  }
  
  /* Expanding image text */
  #imgtext {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
	font-size: 20px;
  }


  /*** Galery Intro Padding ***/
 

  /*** Text Intro ***/
  .pintro{
	  padding-bottom: 40%;
	  font-style: verdana;
	  font-size: 17px;
  }

main > .content {
	margin-top: 5px;
	padding: 5px 5%;

	width: 100%;
	background: rgba(255, 255, 255, 0.747);
}


main >.content2 {
	padding: 5px 5%;
	width: 100%;
	background: rgba(40, 31, 19, 0.692);
}

/*** Content Text ***/
.contenttext2{
	color: white;
}

/*** Footer ***/
footer {
	margin-top: 5px;
	padding: 20px 5%;
	background: rgba(51, 51, 51, 0.726);
	text-align: center;
	color: darkgray;
}
